.bodyPartPics {
  display: flex;
  justify-content: space-around
}
.a {
  color: white;
}
.homepage{
  background-color:  rgb(78, 78, 78);

}
.firstSlide{
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
    filter: grayscale(100%)
}

.secondSlide{
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
    filter: grayscale(100%)
}
.thirdSlide{
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
    filter: grayscale(100%)
}
.fourthSlide{
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
    filter: grayscale(100%)
}

.fifthSlide{
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
    filter: grayscale(100%)
}
.sixthSlide{
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
   filter: grayscale(100%)
}
.seventhSlide{
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
    filter: grayscale(100%)
}
.eighthSlide{
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
  filter: grayscale(100%)
}
.homeButton{
  font-family: 'Permanent Marker', cursive;
}

.exerciseButton{
  font-family: 'Permanent Marker', cursive;
}

.ninthSlide{
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
    filter: grayscale(100%)
}

.tenthSlide{
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
    filter: grayscale(100%)
}
.eleventhSlide{
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
    filter: grayscale(100%)
}

