@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

.musclegroup {
    display: flex;
    justify-content: space-around;
}
.muscleLevels{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.deltList {
    list-style-type: square;
    margin: 15px 15px 15px 15px;
    color:white;
} 

.beg {
    font-family: 'Permanent Marker', cursive;
}
.int {
    font-family: 'Permanent Marker', cursive;
}
.adv {
    font-family: 'Permanent Marker', cursive;
}