@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');


.update {
	display: flex;
	flex-direction: row;
	justify-content: center;
	color: rgb(255, 255, 255);
    font-family: 'Permanent Marker', cursive;
}

.updateForm {
	margin-top: 5%;
	display: flex;
	flex-direction: column;
	background-color: rgba(33, 34, 48, 0.37);
	padding: 10%;
}

.beg {
    font-family: 'Permanent Marker', cursive;
}
.int {
    font-family: 'Permanent Marker', cursive;
}
.adv {
    font-family: 'Permanent Marker', cursive;
}
